{% extends "base.html" %} {% load static %} {% block title %} Home {% endblock %}
{% block content %}

<div class="sm:flex">
  {% include 'includes/left_sidebar.html' %}

  <!-- Main Content (Fixed Width or Flexible) -->
  <main class=" p-6 bg-white w-full mx-auto font-[cursive]">




    <h1 class="text-4xl bg-gray-700 font-bold text-yellow-300 p-4 rounded-lg shadow-lg">WELCOME!</h1>
    <p class="mt-4 text-gray-600">HackHer Space is a community-driven platform dedicated to empowering women in
      technology. Whether you're a seasoned developer, an aspiring coder, or simply passionate about innovation, this is
      your space to learn, create, and connect.
      We believe in breaking barriers, fostering inclusivity, and championing the next generation of women in tech.
    </p><br>
    <img src="{% static '/assets/Images/womenin90.jpeg' %}" alt="Logo" />
  </main>




  {% include 'includes/right_sidebar.html' %}


</div>

{% endblock %}
