{% extends "base.html" %} {% load static %} {% block title %} Home {% endblock %}
{% block content %}

<div class="flex">
  {% include 'includes/left_sidebar.html' %}

  <!-- Main Content (Fixed Width or Flexible) -->
  <main class="p-6 bg-white mx-auto font-[cursive]">
    <h1 class="text-2xl font-bold text-gray-800">Welcome to HackHer Space!</h1>
    <p class="mt-4 text-gray-600">
      HackHer Space is a community-driven platform dedicated to empowering women in
      technology. Whether you're a seasoned developer, an aspiring coder, or simply
      passionate about innovation, this is your space to learn, create, and
      connect. We believe in breaking barriers, fostering inclusivity, and
      championing the next generation of women in tech. Join us as we explore the
      latest in coding, cybersecurity, AI, and beyond—because the future of tech is
      diverse, and it starts with you.
    </p>
    <img src="{% static '/assets/images/womenin90.jpeg' %}" alt="Logo" />
  </main>

  {% include 'includes/right_sidebar.html' %}
</div>

{% endblock %}
