{% extends "base.html" %} {% load static %} {% block title %} Women In Tech | Past
and Present {% endblock %} {% block content %}
<section id="impactful-women" class="p-6 font-[cursive]">
  <div class="text-center mt-12">
    <h1 class="text-4xl font-bold text-yellow-300 bg-gray-700 p-4 rounded-lg shadow-lg">
      9 women who made a significant impact in ICT today
    </h1>

  </div>
  <!-- Card container -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-2 md:p-24">
    <!-- card 1 -->
    <div class="bg-white shadow-2xl rounded-2xl flex flex-col items-center mb-6">
      <div class="relative group">
        <img
          src="{% static 'assets/images/512px-Ada_Lovelace_Chalon_portrait.webp' %}"
          alt="Ada Lovelace"
          class="h-full w-full object-cover rounded-t-2xl shadow-2xl" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Ada Lovelace</p>
              <p class="text-xs">
                “That brain of mine is something more than merely mortal; as time
                will show.”
              </p>
              <p class="text-xs">Attribution:</p>
              <p class="text-xs">
                Alfred Edward Chalon, Public domain, via Wikimedia Commons
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4">
        <h5 class="text-xl font-bold mb-2 text-center">Ada Lovelace</h5>
        <p class="pb-4 md:pt-4">
          Ada Lovelace was a 19th-century mathematician and writer, often regarded
          as the first computer programmer. She worked with Charles Babbage on the
          Analytical Engine, creating the first algorithm intended for a machine.
          Her visionary ideas about computing anticipated modern computers.
          Lovelace's legacy continues to inspire women in STEM and the field of
          computing.
        </p>
      </div>
    </div>
    <!-- card 1 -->
    <div class="bg-white shadow-2xl rounded-2xl flex flex-col items-center mb-6">
      <div class="relative group">
        <img
          src="{% static 'assets/images/512px-Fei-Fei_Li_at_AI_for_Good_2017.webp' %}"
          alt="Dr Fei-Fei Li"
          class="h-full w-full object-cover rounded-t-2xl" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Dr Fei-Fei Li</p>
              <p class="text-xs">
                "I imagine a world in which AI is going to make us work more
                productively, live longer, and have cleaner energy."
              </p>
              <p class="text-xs">Attribution:</p>
              <p class="text-xs">
                ITU Pictures, CC BY 2.0
                <a href="https://creativecommons.org/licenses/by/2.0">
                  creative commons
                </a>
                , via Wikimedia Commons
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4">
        <h5 class="text-xl font-bold mb-2 text-center">Dr Fei-Fei Li</h5>
        <p class="pb-4 md:pt-4">
          Dr. Fei-Fei Li is a leading AI researcher, best known for creating
          ImageNet, which revolutionised deep learning. A strong advocate for
          ethical AI, she co-founded AI4ALL to promote diversity in technology. In
          2024, she launched World Labs, focusing on AI for AR/VR and robotics.
          Through her innovations and advocacy, she continues to shape AI's future
          for the benefit of humanity.
        </p>
      </div>
    </div>

    <!-- card 2 -->
    <div class="bg-white shadow-2xl rounded-2xl flex flex-col items-center mb-6">
      <div class="relative group">
        <img
          src="{% static 'assets/images/512px-Parisa_Tabriz_Blackhat_17_profile.webp' %}"
          alt="Parisa Tabriz"
          class="h-full w-full object-cover rounded-t-2xl" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Parisa Tabriz</p>
              <p class="text-xs">
                "I thought Information Security Engineer sounded so boring. Guys in
                the industry all take it so seriously, so security princess felt
                suitably whimsical."
              </p>
              <p class="text-xs">Attribution:</p>
              <p class="text-xs">
                ITU Pictures, CC BY 2.0
                <a href="https://creativecommons.org/licenses/by/2.0">
                  creative commons
                </a>
                , via Wikimedia Commons
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-4">
        <h5 class="text-xl font-bold mb-2 text-center">Parisa Tabriz</h5>
        <p class="pb-4 md:pt-4">
          Parisa Tabriz, known as Google’s "Security Princess", is a leading
          cybersecurity expert. She has played a key role in making Google Chrome
          one of the most secure browsers. Passionate about online safety, she
          develops cutting-edge security protocols while advocating for user
          privacy. A strong supporter of diversity in tech, she inspires young
          women to pursue careers in cybersecurity and technology.
        </p>
      </div>
    </div>

    <!-- card 3 -->
    <div class="bg-white shadow-2xl rounded-2xl flex flex-col items-center mb-6">
      <div class="relative group">
        <img
          src="{% static 'assets/images/512px-Katie_Bouman_answers_questions_about_the_Event_Horizon_Telescope_project.webp' %}"
          alt="Katie Bouman"
          class="h-full w-full object-cover rounded-t-2xl" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Katie Bouman</p>
              <p class="text-xs">
                "No one of us could've done it alone, it came together because of
                lots of different people from many backgrounds."
              </p>
              <p class="text-xs">Attribution:</p>
              <p class="text-xs">
                This file has been identified as being free of known restrictions
                under copyright law, including all related and neighboring rights.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-4">
        <h5 class="text-xl font-bold mb-2 text-center">Katie Bouman</h5>
        <p class="pb-4 md:pt-4">
          Katie Bouman is a computer scientist known for developing the algorithm
          that captured the first-ever black hole image in 2019. As an MIT PhD
          candidate, she led data processing for the Event Horizon Telescope. Her
          work revolutionised astrophysics and showcased the potential of women in
          STEM, inspiring future generations in science and technology.
        </p>
      </div>
    </div>

    <!-- card 4 -->
    <div class="bg-white shadow-2xl rounded-2xl flex flex-col items-center mb-6">
      <div class="relative group">
        <img
          src="{% static 'assets/images/512px-Timnit_Gebru.webp' %}"
          alt="Timnit Gebru"
          class="h-full w-full object-cover rounded-t-2xl" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Timnit Gebru</p>
              <p class="text-xs">
                "AI is not magic, it's not some sort of entity that has its own
                agency, it's an artifact built by people."
              </p>
              <p class="text-xs">Attribution:</p>
              <p class="text-xs">
                Source
                <a
                  href="https://www.flickr.com/photos/52522100@N07/30671211838
                    ">
                  flickr.com
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-4">
        <h5 class="text-xl font-bold mb-2 text-center">Timnit Gebru</h5>
        <p class="pb-4 md:pt-4">
          Timnit Gebru is an Ethiopian-American computer scientist and a leading
          advocate for AI ethics and diversity. She co-authored a key paper on bias
          in AI, exposing how algorithms can reinforce racial and gender
          inequalities. A former Google AI ethics researcher, she co-founded Black
          in AI to boost representation. Her advocacy drives inclusive, ethical AI
          development.
        </p>
      </div>
    </div>

    <!-- card 5 -->
    <div class="bg-white shadow-2xl rounded-2xl flex flex-col items-center mb-6">
      <div class="relative group">
        <img
          src="{% static 'assets/images/512px-Radia_Perlman_2009.webp' %}"
          alt="Radia Perlman"
          class="h-full w-full object-cover rounded-t-2xl" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Radia Perlman</p>
              <p class="text-xs">
                “I Try to design things that someone like myself would like to use
                which is that it just works, and you don't have to think about it
                at all”
              </p>
              <p class="text-xs">Attribution:</p>
              <p class="text-xs">
                ITU Pictures, CC BY 2.0
                <a href="https://creativecommons.org/licenses/by/2.0">
                  creative commons
                </a>
                , via Wikimedia Commons
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4">
        <h5 class="text-xl font-bold mb-2 text-center">Radia Perlman</h5>
        <p class="pb-4 md:pt-4">
          Radia Perlman is a renowned computer scientist, known as the "Mother of
          the Internet" for her groundbreaking work in networking. She invented the
          Spanning Tree Protocol (STP), ensuring reliable Ethernet networks. Her
          contributions to network security and distributed systems have shaped
          modern internet communications. A mentor and advocate for women in tech,
          she continues to inspire future generations.
        </p>
      </div>
    </div>

    <!-- card 6 -->
    <div class="bg-white shadow-2xl rounded-2xl flex flex-col items-center mb-6">
      <div class="relative group">
        <img
          src="{% static 'assets/images/512px-Frances_Allen.webp' %}"
          alt="Frances Allen"
          class="h-full w-full object-cover rounded-t-2xl" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Frances Allen</p>
              <p class="text-xs">
                "You need to hire and develop great people. You need to set the
                vision and trust them to do the right thing. You need to let go of
                control. That's wonderful for all involved because you're
                empowering and trusting your people to do what's right for the
                brand"
              </p>
              <p class="text-xs">Attribution:</p>
              <p class="text-xs">
                Rama, CC BY-SA 2.0 FR
                <a
                  href="https://creativecommons.org/licenses/by-sa/2.0/fr/deed.en">
                  creative commons
                </a>
                , via Wikimedia Commons
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-4">
        <h5 class="text-xl font-bold mb-2 text-center">Frances Allen</h5>
        <p class="pb-4 md:pt-4">
          Frances Allen was a pioneering American computer scientist and the first
          woman to win the Turing Award. She made significant contributions to
          compiler optimization, improving code efficiency and enabling faster
          program execution. Allen worked at IBM for over 40 years, advancing
          high-performance and parallel computing. Her legacy continues to inspire
          future generations of computer scientists, especially women in tech.
        </p>
      </div>
    </div>

    <!-- card 7 -->
    <div class="bg-white shadow-2xl rounded-2xl flex flex-col items-center mb-6">
      <div class="relative group">
        <img
          src="{% static 'assets/images/512px-Barbara_Liskov-Turing_Centenary_Celebration.webp' %}"
          alt="Barbara Liskov"
          class="h-full w-full object-cover rounded-t-2xl" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Barbara Liskov</p>
              <p class="text-xs">
                "No one of us could've done it alone, it came together because of
                lots of different people from many backgrounds."
              </p>
              <p class="text-xs">Attribution:</p>
              <p class="text-xs">
                Dennis Hamilton from Seattle, Washington, USA, CC BY 2.0
                <a href="https://creativecommons.org/licenses/by/2.0">
                  via Wikimedia Commons
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-4">
        <h5 class="text-xl font-bold mb-2 text-center">Barbara Liskov</h5>
        <p class="pb-4 md:pt-4">
          Barbara Liskov is a renowned American computer scientist, best known for
          developing the Liskov Substitution Principle (LSP), a key concept in
          object-oriented programming. Her work also includes significant
          contributions to CLU programming language design. A professor at MIT, she
          was awarded the Turing Award in 2008 for her contributions to programming
          languages and software engineering, shaping modern software design
          principles.
        </p>
      </div>
    </div>

    <!-- card 8 -->
    <div class="bg-white shadow-2xl rounded-2xl flex flex-col items-center mb-6">
      <div class="relative group">
        <img
          src="{% static 'assets/images/512px-Rana_El_Kaliouby.webp' %}"
          alt="Rana el Kaliouby"
          class="h-full w-full object-cover rounded-t-2xl" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Rana el Kaliouby</p>
              <p class="text-xs">
                "I do believe that if we have information about your emotional
                experiences, we can help you be in a more positive mood and
                influence your wellness."
              </p>
              <p class="text-xs">Attribution:</p>
              <p class="text-xs">
                Source
                <a
                  href="https://www.flickr.com/photos/52522100@N07/30671211838
                      ">
                  flickr.com
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-4">
        <h5 class="text-xl font-bold mb-2 text-center">Rana el Kaliouby</h5>
        <p class="pb-4 md:pt-4">
          Rana el Kaliouby is a pioneering AI researcher and entrepreneur, known
          for her work in emotional AI. She co-founded Affectiva, which develops
          emotion recognition technology to analyse facial expressions, voice, and
          physiological responses. El Kaliouby's work enhances human-computer
          interactions across various industries. A strong advocate for diversity
          in tech, she continues to inspire as a leader in AI and STEM.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="ada-lovelace" class="flex items-center justify-center"></section>

{% endblock %}
