{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
 
    <title>Hack Her Space</title>
  </head>
  <body class="h-screen">
    <header>
      <!-- Navbar include (Do logic to make sure this isn't visible on the create profile page after signing up =) -->
      {% include 'include/nav.html' %}
  </header>

  <script>
      // Mobile Menu Toggle
      document.getElementById('menu-btn').addEventListener('click', function() {
          document.getElementById('mobile-menu').classList.toggle('hidden');
      });
  </script>

    {% block content %} 
    
    {% endblock content%}
    <footer class="mt-auto">

      {% include 'include/footer.html' %}

  </footer>
  </body>
</html>
