{% extends "base.html" %} {% load static %} {% load tailwind_filters %} 

{% block content %}

<div class="flex items-center justify-center min-h-screen font-[cursive]">
  <div
    class="w-full max-w-md p-6 mt-4 mb-4 shadow-lg font-mono font-bold border-2 border-black">
    <!-- 90s Header -->
    <h2
      class="text-2xl text-center font-bold tracking-widest text-grey-700 uppercase font-[cursive]">
      ✨ Register ✨
    </h2>
    <p class="text-center text-grey-700 bg-gray-400 mt-2 italic">
      Join the future of tech!
    </p>

    <!-- Signup Form -->
    <form method="POST" class="mt-6 space-y-4 font-[cursive]">
      {% csrf_token %} {{ form|crispy }}

      <button
        type="submit"
        class="w-full py-2 text-lg font-bold border-2 border-black hover:bg-grey-700">
        🚀 Register
      </button>
    </form>

    <!-- 90s Footer -->
    <p class="mt-4 text-center text-grey-700 text-sm font-[cursive]">
      Already have an account?
      <a href="{% url 'sign_in' %}" class="text-yellow-300 hover:underline">
        Login Here
      </a>
    </p>
  </div>
</div>
{% endblock %}
